<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sed sit quae ad iusto voluptate consequuntur doloremque odio sequi accusantium provident accusamus obcaecati explicabo facilis maxime nemo, distinctio ullam impedit eius perspiciatis, maiores consectetur omnis? Dignissimos obcaecati quasi eveniet vero doloremque magnam et, quae eaque.</p>
    <button>template</button>
</body>
</html>